.achieve-block {
  background-color: whitesmoke;
  width: 30%;
  color: black;
  margin: 1rem;
  border-radius: 0.3rem;
  box-shadow: 4px 4px 22px black;
  .image {
    border-radius: 0.2rem;
    width: 100%;
  }
  .btn {
    margin: 2%;
  }
}

.achieve-block:hover {
  box-shadow: 4px 4px 10px black;
}

@media only screen and (max-width: 576px) {
  .achieve-block {
    font-size: small;
    padding: 0.1rem;
    width: 100%;
    h3 {
      font-size: large;
    }
  }
}
