#imageLogo {
  height: 45px;
  width: 45px;
}

#become {
  background-color: rgba(25, 26, 25, 0.993);
  width: fit-content;
  padding: 10px 20px 0px 20px;
  border-radius: 10px;
  align-items: center;
  padding-top: 1rem;
}

.navbar {
  width: 100%;
  position: fixed;
  background-color: #1e628a !important;
  z-index: 2;

  .text-light {
    padding-top: 1rem;
  }

  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      color: inherit;
    }
  }
}

@media only screen and (max-width: 990px) {
  #imageLogo {
    height: 25px;
    width: 25px;
  }
  .myNavContainer {
    width: 100%;
    display: block;
  }
}

@media (max-width: 100px) {
  .logoHeader {
    margin-left: 10%;
  }
}

@media (min-width: 900px) {
  .logoHeader {
    margin-left: 25%;
  }
}

.text-light {
  margin-left: 20px;
}
