.row {
  align-items: center;
  margin-right: 1px;
  .container-About {
    margin-top: 8%;
    margin-left: 8%;
    background-color: #1a5276;
    color: whitesmoke;
    padding: 2rem;
    width: 50%;
    border-radius: 1rem;
  }
  .container-About:hover {
    background-color: whitesmoke;
    color: black;
    transition: 1s ease-in-out;
  }
  .container-art {
    margin-top: 10%;
    margin-left: 5%;
    color: whitesmoke;
    padding: 1rem;
    width: 30%;
    .graphic {
      width: 110%;
      margin-left: -10%;
      margin-bottom: 1rem;
    }

    .graphic:hover {
      margin-left: -20%;
      transition: 0.8s;
    }
  }
}

@media screen and (max-width: 786px) {
  .row {
    .container-About {
      margin-top: 15%;
      margin-left: 8%;
      color: whitesmoke;
      background-color: #1a5276;
      padding: 1rem;
      border-radius: 1rem;
      width: 50%;
      font-size: small;
    }
    .container-art {
      margin-top: 15%;
      margin-left: 8%;
      color: whitesmoke;
      padding: 1rem;
      width: 30%;

      .graphic {
        width: 120%;
        margin-left: -10%;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .row {
    .container-About {
      margin-top: 30%;
      margin-left: 12%;
      color: whitesmoke;
      background-color: #1a5276;
      padding: 1rem;
      width: 80%;
      border-radius: 1rem;
      font-size: small;
      text-align: center;

      h1 {
        font-size: 2rem;
      }
    }
    .container-art {
      margin-top: 5%;
      margin-left: 8%;
      color: whitesmoke;
      padding: 1rem;
      width: 100%;
      .graphic {
        width: 80%;
        margin-left: 8%;
      }
    }
  }
}
